# Tên User đăng nhập SQL
DB_USER=username

# Mật khẩu SQL của bạn (lúc cài SQL Server bạn đặt là gì thì điền vào)
DB_PASSWORD=your_password_here

# Tên Server (thường là localhost hoặc tên máy của bạn)
DB_SERVER=localhost

# Tên Database
DB_NAME=BOOK_STORE
